:root{
    --green:hsl(349, 48%, 9%);
    --border-size: 16px;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: hsl(192, 43%, 62%);
    color:  var(--green);
    font-family: var(--font);
}
img{
    border: var(--border-size) solid;
    border-color: var(--green);
    border-radius: 15px;
}